<%= form_with(model: blog_post) do |form| %>
  <% if blog_post.errors.any? %>
    <div>
      <ul>
        <% blog_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.textarea :body %>
  </div>

  <div>
    <%= form.label :topic, style: "display: block" %>
    <%= form.select :topic, Blog::Post.topics.keys.map { |t| [t.titleize, t] }, { include_blank: "Select a topic (optional)" } %>
  </div>

  <div>
    <%= form.submit blog_post.new_record? ? "Create post" : "Update post" %>
  </div>
<% end %>
