<div id="<%= dom_id comment %>">
  <div>
    <strong>Post:</strong>
    <%= comment.post_id %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= comment.body %>
  </div>

  <div>
    <strong>Author:</strong>
    <%= comment.user.name %>
  </div>

  <div>
    <strong>Like status:</strong>
    <%= comment.like_status %>
  </div>

</div>
