<div id="<%= dom_id comment %>">
  <div>
    <strong>Post:</strong>
    <%= comment.post_id %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= comment.body %>
  </div>

  <div>
    <strong>Author:</strong>
    <%= comment.author %>
  </div>

  <div>
    <strong>Liked by author:</strong>
    <%= comment.liked_by_author %>
  </div>

</div>
